.animation-wrapper {
  background-color: #080c24;
  .heading-front {
    h1 {
      color: white;
      font-size: 3rem;
      margin-bottom: 0;
      margin-top: 5vh;
      @include media(">=phone", "<lgphone") {
        font-size: 1.5rem;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 1.5rem;
        line-height: 10px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 2.5rem;
      }
    }
  }
  .heading-back {
    h1 {
      background: linear-gradient(90deg, #8A2BE2, #6495ED);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-size: 3rem;
      margin-top: 0;
      @include media(">=phone", "<lgphone") {
        font-size: 1.5rem;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 1.5rem;
        line-height: 10px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 2.5rem;
      }
      padding-bottom: 10vh;
    }
  }
}
.animation-section {
  width: 100vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: space-between;
  @include media(">=phone", "<lgphone") {
    flex-direction: column-reverse;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column-reverse;
  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content {
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(0%, 25%);
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }

    h1 {
      font-size: 3rem;
      line-height: 20px;
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }

    h2 {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5vw;
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }

    p {
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }
  }
  .image-gradient::before {
    content: '';
    width: 50vw;
    top: 0;
    right: 0;
    height: 100%;
    -webkit-box-shadow: 200px -40px 190px 100px #31dde1,100px 0px 40px 2px #31dde1;
    box-shadow: 200px -40px 190px 100px #31dde1,100px 0px 40px 2px #31dde1;
    z-index: -1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

  }
  .image-wrapper {
    background: transparent;
    width: 50%;
    max-width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    //overflow: hidden;
    @include media(">=phone", "<lgphone") {
      width: 100vw;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }
  }
  img {
    font-size: 50px;
    height: 100%;
    margin: 0;
    position: relative;
    z-index: 3;
    background-color: #060C1F;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
