.work-wrapper {

  background-color: #080c24;

  height: 50vw;
  padding-bottom: 35vh;

  width: 100vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading-front {
    h1 {
      color: white;
      font-size: 3rem;
      margin-bottom: 0;
      margin-top: 5vh;
    }
  }
  .heading-back {
    h1 {
      background: linear-gradient(90deg, #00f9ff, #c900ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      font-size: 3rem;
      margin-top: 0;
    }
  }
  .slide {
    position: relative;
  }

  .slide__image {
    width: 100%;
    height: 100vh;
  }

  .slide__image img {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
  }

  .slide__content {
    float: left;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 100vh;
  }

  .placeholder {
    height: 100vh;
  }
  .row {
    display:flex;
  }
  .column {
    float: left;
    width: 50vw;
    padding: 10px;
  }
  .left {
    float:left;
    width: 50vw;
  }
  .right {
    float:right;
    width: 50vw;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .d-flex {
    display: flex !important;
  }
  .flex-column {
    flex-direction: column !important;
  }
  .grid {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
    }
  }
}